<div class="flex items-start w-full gap-3 p-2">
  <%= render "chats/ai_avatar" %>

  <div class="max-w-[85%] text-sm space-y-4 text-primary">
    <p>Hey <%= Current.user&.first_name || "there" %>! I'm an AI/large-language-model that can help with your finances. I have access to the web and your account data.</p>

    <p>
      You can use <span class="bg-container border border-secondary px-1.5 py-0.5 rounded font-mono text-xs">/</span> to access commands
    </p>

    <div class="space-y-3">
      <p>Here's a few questions you can ask:</p>

      <% questions = [
        {
          icon: "trending-up",
          text: "How did I spend last month?"
        },
        {
          icon: "calendar",
          text: "What are my upcoming EMIs?"
        },
        {
          icon: "credit-card",
          text: "Show my credit card due dates"
        },
        {
          icon: "pie-chart",
          text: "Which category did I overspend in?"
        },
        {
          icon: "bar-chart-3",
          text: "Compare my spending: last month vs this month"
        },
        {
          icon: "list-ordered",
          text: "Show my top 5 expenses"
        }
      ] %>

      <div class="space-y-2.5">
        <% questions.each do |question| %>
          <button data-action="chat#submitSampleQuestion"
                  data-chat-question-param="<%= question[:text] %>"
                  class="w-fit flex items-center gap-2 border border-tertiary rounded-full py-1.5 px-2.5 hover:bg-gray-100">
            <%= icon(question[:icon]) %> <%= question[:text] %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
